body {
    font-family: 'Arial', sans-serif;
    background-color: #eef; /* Lighter shade for a fresh look */
  }
  
  header {
    background-color: #008000; /* Green, thinking of a football field */
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  #options button {
    margin-left: 10px;
    margin-right: 10px;
}

  #quiz-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #008000; /* Green border */
    border-radius: 5px;
    background-color: #fff; /* White background for better readability */
  }
  
  button {
    background-color: #006400; /* Darker green */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #004d00; /* Even darker green on hover */
  }
  